body {
  background-color: teal;
}

.jumbotron {
  background-color: teal;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

img {
  margin: 3px;
  border: 2px solid black;
  padding: 3px;
  object-fit: cover;
}
#csharp {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}