body {
  background-color: teal;
}

.jumbotron {
  background-color: teal;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  font-family: cursive;
  color: tan;
}

h2  {
  text-align: center;
  color: tan;
}

.form-group {
  margin: 5px;
  border: 2px solid slategray;
  padding: 5px;
  color: tan;
  text-align: left;
}

img {
  width: auto;
  height: 300px;
  margin: 3px;
  border: 2px solid black;
  padding: 3px;
  object-fit: contain;
}
#csharp {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}